@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

:root {
    --title-text: 'Roboto Slab', serif;
    --text: 'Montserrat', sans-serif;
    --color-primary: #2BC1CA;
    --color-secondary: #AE0052;
    --size-logo: 2rem;
    --size-h1: 4rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--text);
}

/* HEADER SECTION */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1.5rem 3rem;
    padding-bottom: 1rem;
    box-shadow: 0px 11px 5px -9px var(--color-primary);
}

header .logo p {
    font-size: var(--size-logo);
    letter-spacing: .4rem;
}

header .logo img {
    height: var(--size-logo);
    margin-right: -.2rem;
}

header nav {
    display: flex;
    gap: 4rem;
}

header nav a {
    color: #333333;
    text-decoration: none;
    transition: all ease .4s;
}

header nav a:hover {
    color: var(--color-primary);
    font-weight: bold;
    transform: scale(1.2);
}

/* SEARCH SECTION */

#search-index {
    margin-top: -1.2rem;
    background-image: url(Images/banner.jpg);
    height: 35rem;
    background-size: cover;
}
.search-title h1 {
    font-size: var(--size-h1);
    font-family: var(--title-text);
    text-align: center;
    padding-top: 12rem;
    color: #ffffff;
    letter-spacing: .2rem;
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    margin-left: 20rem;
    margin-top: 12rem;
    height: 10rem;
    width: 60%;
    border: .4rem solid var(--color-primary);
    border-radius: 2rem;
}

.search-container {
    display: flex;
    gap: 1rem;
}

.search-container input {
    border: .1rem solid var(--color-primary);
    border-radius: 2rem;
    padding: 1rem;
    color: #9e9e9e;
}

/* FILTER SECTION */

#filter-index {
    margin-top: 6rem;
}

#filter-index h2 {
    font-family: var(--title-text);
    text-align: center;
    font-size: 2rem;
}

.filter-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6rem;
    margin: 1rem;
}

.filter-container .filter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: .2rem solid var(--color-primary);
    border-radius: 1rem;
    height: 4rem;
    width: 10rem;
}

/* PETS CARD SECTION */
#pets-index {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#pets-index .card-container {
    border: .2rem solid var(--color-primary);
    border-radius: 2.2rem;
    height: 30rem;
    width: 18.4rem;
    margin: 1rem;
}

#pets-index .card-container .img-card {
    border-radius: 2rem 2rem 0rem 0rem;
}

#pets-index .card-container .img-card img {
    height: 16rem;
    width: 18rem;
    border-radius: 2rem 2rem 0rem 0rem;
    position: absolute;
    z-index: -1;
}

#pets-index .card-container .text-card {
    z-index: 1000;
    border-radius: 2rem;
    margin-top: 14rem;
    padding: .6rem;
    background-color: #ffffff;
}

#pets-index .card-container .text-card .text-card-left h3{
    font-family: var(--title-text);
    color: var(--color-secondary);
    font-size: 1.8rem;
}

#pets-index .card-container .text-card .text-card-right {
    text-align: right;
}

#pets-index .card-container .text-card .text-card-center {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
}

#pets-index .card-container .text-card .text-card-center .card-index-description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pets-index .card-container .text-card .text-card-center .card-index-description .card-index-box {
    border: .1rem solid var(--color-primary);
    margin-top: .2rem;
    padding: .2rem .8rem;
    font-size: .8rem;
}

#pets-index .card-container .button-card {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#pets-index .card-container .card-button {
    padding: .5rem;
    border-radius: 2rem;
    background-color: var(--color-primary);
    border: none;
    color: #ffffff;
    font-size: 1rem;
    transition: all ease .5s;
}

#pets-index .card-container .card-button:hover {
    transform: scale(1.2);
}
